.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 430px;
  width: 100%;
  flex-direction: column;
  border-radius: $border-radius;
  border: 2px solid $primary-light;
  overflow: hidden;
  padding: 1.6rem;

  &-title {
    @include title-h3();
    width: 100%;
    font-weight: $font-medium;
    margin-bottom: 1.6rem;
  }

  &-desc {
    margin-bottom: 3rem;
  }
}
