.coverage-section {
  padding: 7rem;
  @include padding();
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $linear;
  text-align: center;
  grid-gap: 4rem;

  @media screen and (min-width: $breakpoint) {
    flex-direction: row;
    text-align: start;
    grid-gap: 6rem;
  }

  .wrapper {
    max-width: 45ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $breakpoint) {
      align-items: flex-start;
    }

    .btn {
      margin-top: 4rem;
    }
  }

  .section-title {
    @include title-h2();
  }

  p {
    color: $white-secondary;
  }

  img {
    width: auto;
    height: clamp(350px, 30vw, 450px);
  }
}
