.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
  min-height: 80vh;
  @include padding();

  @media screen and (min-width: $breakpoint) {
    justify-content: space-between;
  }

  &-title {
    line-height: $line-height-title;
    font-weight: $font-bold;
    color: $black-primary;
    font-size: clamp(40px, 6vw, 58px);

    .colored {
      color: $primary-main;
    }
  }

  &-img {
    display: none;
    height: auto;
    width: clamp(340px, 45vw, 680px);

    @media screen and (min-width: $breakpoint) {
      display: block;
    }
  }

  &-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-gap: 10vh;
    max-width: 48ch;

    @media screen and (min-width: $breakpoint) {
      align-items: flex-start;
      text-align: start;
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: max-content;
      grid-gap: 2rem;
      width: 200px;

      @media screen and (min-width: $breakpoint) {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
      }

      .btn {
        width: 100%;
      }
    }
  }
}
