.hero-form {
  max-width: 380px;
}

.hero {
  z-index: 1;
  height: 90vh;
  padding-top: 90px;

  &-btn {
    width: 150px;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   top: -35%;
  //   right: -20%;
  //   left: -70%;
  //   height: 100vh;
  //   min-height: 860px;
  //   background-color: $primary;
  //   transform: translate(0, 0) rotate(-20deg);
  // }
}
