.navbar {
  @media screen and (max-width: 995px) {
    padding: 0;

    &-nav-menu {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 3rem;
      transition: $btn-transition;
      transform: translateX(-200%);

      &.active {
        transform: translateX(0);
      }

      .nav-link {
        border-bottom: 1px solid $light;
        transition: $btn-transition;

        &:hover {
          background-color: $light;
        }
      }
    }

    .navbar-dropdown {
      display: none !important;
    }
  }
}
