.calculator-wrapper {
  width: 100%;
  max-width: 900px;
  border-radius: $border-radius;
  border: 2px solid $primary-light;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin-top: 5rem;

  .errors {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-gap: 1rem;
    position: fixed;
    top: 100px;
    z-index: 200;

    span {
      width: 100%;
      display: block;
      background-color: rgb(253, 67, 67);
      color: $white-primary;
      padding: 1rem;
      border-radius: $border-radius;
      box-shadow: $shadow-bottom;
    }
  }
}

.price-calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: 3rem;
  width: 100%;
  max-width: 900px;

  &.hide {
    display: none;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 2rem;
    width: 100%;

    @media screen and (min-width: $breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
  }

  .form-title {
    font-weight: $font-medium;
    font-family: $font-family-primary;
  }
}

.result-container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "top"
    "info"
    "bottom";
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  justify-items: flex-start;
  text-align: start;

  @media screen and (min-width: $breakpoint) {
    grid-template-areas:
      "top info"
      "bottom ...";
    grid-template-columns: 0.8fr 1fr;
  }

  strong {
    font-weight: $font-bold;
  }

  .top {
    grid-area: top;
    width: 100%;
    @include title-h3();
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-gap: 1rem;
    color: $black-secondary;

    .colored {
      color: $primary-main;
    }
  }

  .info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    grid-gap: 0.8rem;
  }

  .bottom {
    grid-area: bottom;
  }
}
