.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7rem 0;
  @include padding();

  .section-title {
    @include title-h2();
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .services-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;

    @media screen and (min-width: $breakpoint) {
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;

    p {
      color: $black-primary;
      font-weight: $font-bold;
      font-family: $font-family-primary;
    }
  }
}

.service-card {
  height: 100%;
  max-width: 35ch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  grid-gap: 2rem;
  padding: 2rem;
  border-radius: $border-radius;
  border: 2px solid $primary-light;
  max-width: 30ch;

  .icon {
    font-size: 7rem;
    color: $primary-main;
  }

  .card-title {
    @include title-h3();
    margin-bottom: 1rem;
  }
}
