.create-parcel-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;
  width: 100%;
  @include padding();

  .page-main {
    width: 100%;
  }

  .page-title {
    @include title-h3();
    margin-bottom: 2rem;
  }
}
