.track-parcel-page {
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "form"
    "status";
  grid-gap: 4rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @include padding();

  @media screen and (min-width: $breakpoint) {
    grid-template-areas:
      "header header"
      "form status";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .page-header {
    grid-area: header;
    margin: 0;
    height: max-content;

    .page-title {
      @include title-h3();
    }
  }

  .track-parcel-form {
    grid-area: form;
    height: max-content;
    margin: 0;
  }

  .container {
    grid-area: status;
    display: flex;
    flex-direction: column;

    .parcel-id {
      color: $primary-main;
      margin-bottom: 2rem;

      .colored {
        font-weight: $font-medium;
        font-family: $font-family-primary;
        color: $black-primary;
      }
    }
  }
}

$size: 100px;

.tracking-status {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1.6rem;
  align-items: center;
  justify-items: flex-start;

  .time-date {
    height: $size;
    width: $size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $linear;
    color: $white-primary;
    border-radius: 50%;
    position: relative;

    &.payment {
      height: $size/2;
      width: $size/2;
      margin-left: $size/4;
    }

    .icon {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.2rem;
    }

    .time {
      font-weight: $font-medium;
    }

    .date {
      font-size: $font-size-body2;
    }

    &::before {
      content: "";
      z-index: -1;
      background-color: $primary-main;
      height: 60px;
      width: 5px;
      position: absolute;
      top: 0;
      transform: translate(0, -100%);
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    strong {
      font-weight: $font-medium;
      font-size: 1.8rem;
      line-height: $line-height-title;
      font-family: $font-family-primary;
      color: $black-primary;
    }

    .text {
      font-size: $font-size-body2;
    }
  }
}
