@mixin padding() {
  padding-right: 1.6rem;
  padding-left: 1.6rem;

  @media screen and (min-width: $breakpoint) {
    padding-right: 7vw;
    padding-left: 7vw;
  }
}

@mixin title-h1() {
  font-size: $font-size-h1;
  line-height: $line-height-title;
  font-weight: $font-bold;
  color: $black-primary;
  font-family: $font-family-primary;

  .colored {
    color: $primary-main;
  }
}

@mixin title-h2() {
  font-family: $font-family-primary;
  font-size: $font-size-h2;
  font-weight: $font-bold;
  color: $white-primary;
  line-height: $line-height-title;
  margin-bottom: 1.6rem;

  &.dark {
    color: $black-primary;
  }

  .colored {
    color: $primary-main;
  }
}

@mixin title-h3() {
  font-family: $font-family-primary;
  line-height: $line-height-title;
  font-size: $font-size-h3;
  color: $black-primary;
  font-weight: $font-bold;
}

@mixin title-h4() {
  font-family: $font-family-primary;
  line-height: $line-height-title;
  font-size: $font-size-h4;
  color: $black-primary;
  font-weight: $font-bold;
}
