@import "./theme";
@import "./mixins";

html {
  font-size: $font-size;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  background-color: transparent;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
}

body {
  font-size: $font-size-body;
  font-family: $font-family-secondary;
  background-color: $white-primary;
  line-height: $line-height-body;
  font-weight: 400;
  min-height: 100vh;
  max-width: 100vw;
  color: $black-secondary;

  .brand {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin: none;
    border: none;
    cursor: pointer;

    .brand-logo {
      height: 50px;
      width: auto;
    }
  }

  .scroll-to-top {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    z-index: 2000;
    color: $white-primary;
    font-size: 3rem;
    background: $linear;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $primary-light;
    cursor: pointer;

    &:hover {
      background: $primary-dark;
    }
  }
}

@import "./components/index.scss";
@import "./pages/index.scss";
